@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

body{
    background-color: hsl(180, 52%, 96%);
}

.App {
    box-sizing: border-box;
    margin: 10%;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 10%;
    width: 75%;
    background-color: #fff;
    box-shadow: 0px 5px 15px -6px rgba(104,183,153,1);
    border-radius: 10px;
}

#container:hover {
    box-shadow: -8px 0px 0px -4px rgba(104,183,153,1);
    cursor: pointer;
}

img {
    padding: 2%;
}

p {
    margin: 2%;
    width: max-content;
    font-weight: 700;
}

p.new, p.featured {
    background-color: hsl(180, 29%, 50%);
    color: white;
    height: 20px;
    width: 33px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-size: 11px;
}

p.featured {
    background-color: hsl(180, 14%, 20%);
    width: 55px;
}

#company {
    color: hsl(180, 29%, 50%);
}

#position {
   color: hsl(180, 14%, 20%);
}

#item-middle {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#first-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#item-times {
    display: flex;
    width: 65%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    color: #9d9d9d;
}

#item-times p {
    font-weight: 500;
}

#item-filters {
    display: flex;
    width: 70%;
    justify-content: flex-end;
}

#item-filters p {
    background-color: hsl(180, 31%, 95%);
    color: hsl(180, 29%, 50%);
    padding: 8px;
    border-radius: 5px;
    font-size: 13px;
}

#item-filters p:hover {
    background-color: hsl(180, 29%, 50%);
    color: hsl(180, 31%, 95%);
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    #container {
        flex-wrap: wrap;
        flex-direction: column;
        margin: 10%;
        height: 210px;
    }

    img {
        position: relative;
        top: -30%;
        left: -33%;
    }

    #item-middle {
        margin: -10%;
        border-bottom: #9d9d9d solid 2px;
    }
    
    #item-filters {
        width: 82%;
        padding-top: 10%;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 770px) {
    img {
        position: relative;
        top: -20%;
        left: -30%;
    }

    #container {
        height: 230px;
        width: 84%;
    }

    #item-filters {
        width: 84%;
        justify-content: flex-start;
        flex-flow: wrap;
    }
    
}

@media screen and (max-width: 610px) {
    #container {
        margin: 13% 5%;
        height: 240px;
        width: 94%;
    }
}

@media screen and (max-width: 375px) {
    img {
        position: relative;
        top: -15%;
        left: -20%;
    }

    #container {
        margin: 20% 5%;
        height: 240px;
        width: 100%;
    }

    #item-times {
        width: 100%;
    }

    #item-filters {
        width: 84%;
        margin-top: 5%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-start;
    }
}